venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesize

# Flask
instance/
.webassets-cache
flask_session/

# Database
users.db

# User Data
data/*
!data/.gitkeep
*.pdf

# Environment variables
.env

# OS specific
.DS_Store
Thumbs.db
